target/*
build/*
.gradle/*
.settings/*
.classpath
.project
.factorypath
.attach_pid*
.idea
*.iml
/target
.sts4-cache/
.vscode
_site/
*.css
!petclinic.css
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
